<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In</title>

    <!-- Bootstrap Greyson Liabraries and Oswald Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://bootstrap.themes.guide/greyson/theme.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
    <style>
        a {
        outline: none;
        text-decoration: none;
        padding: 2px 1px 0;
        }

        a:link {
        color: #1e0153;
        }

        a:visited {
        color: #437A16;
        }

        a:focus {
        border-bottom: 1px solid;
        background: #BAE498;
        }

        a:hover {
        border-bottom: 1px solid;
        background: #CDFEAA;
        }

        a:active {
        background: #265301;
        color: #CDFEAA;
        }

        h3.team, h5 {
            font-weight: bold;
        }
    </style>

</head>
<body>
    <div class="container top_container">
        <div class="jumbotron w-100 py-5 mx-auto">
          <h1>Green Team's Job Costing App</h1>
        </div>
    </div>
    <!-- <div class="header">
        <h1> Green Team's Job Costing App </h1>
        <hr>
    </div> -->

    <div class="container">
        <div class="row">
            <div class="col-LG-9 col-md-9 col-sm-6">
                <h2>Green Team's Job Costing App 2.0 is here!</h2>  
                <p class="intro">
                    
                    Construction is a competitive business. With less resources, it's difficult
                    for smaller companies to stay competitive. An owner, project manager, or project lead 
                    will need to manage many aspects of the project such as timelines, purchase orders, labor, 
                    financials,and meetings with Stakeholders for each project from bid stage to close. 
                <br>
                <br>
                    We wanted to help smaller companies gain a competitive advantage by providing a  
                    user friendly project management tool with features to aid in the efficiency of 
                    labor and financial management. Get a company overview of all projects on the 
                    Project Dashboard or check an indvidual projects progress using its project details page.  
         
                    <h3>This app will: </h3>
                    <ul>
                    <li>Allow leads to assess individual projects progress by comparing 
                        important financials and labor data</li>
                    <li>Allow individuals to update project information 
                        on the job in real time </li>
                    <li>Allow employees or project managers to update timesheets</li>
                    <li>Provide useful visualizations for quick analysis and reporting</li>

                    </ul>    
                    
                    <h3>Version 2.0 Updates Include: </h3>                    
                    <ul>
                        <h4><u>Project Login Update</u></h4>
                        <li>Log-in/User Authentication</li>
                        <h4><u>New Routes and Expense Features</u></h4>
                        <li>Added new route to enter addional expenses to the database</li>
                        <li>Created new expense entry page</li>
                        <h4><u>Project Dashboard Updates</u></h4>
                        <li>Dashboard  Conditional Formatting: Let's users know when actual values exceed estimated values</li>
                        <li>Added additional expenses to the table to allow for true job costing</li>
                        <li>Added Interactive Project Performance Visualizations with transitions using D3.js </li>
                        <li>Created an interactive D3 Projects Map</li>
                        <h4><u>Project Details Update</u></h4>
                        <li>Updated Tables to include new expenses</li>                    
                        <li>Updated visualiazations using D3 to use transitions to closely monitor expense relationships</li>
                    </ul>
                   
                </p>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-6">
                <h1>Please login</h1>
                <br>
                <form action="" method="post">
                    <!-- <div class="form-group row was-validated">
                        <label class="col-lg-4 col-form-label form-control-label text-muted"
                          >Employee Name:</label
                        >
                        <div class="col-lg-8">
                          <select
                            name="employee_name"
                            id="name"
                            required=""
                            class="form-control-lg"
                          >
                            <option value="">Employee Name</option>
                          </select>
                          <div class="invalid-feedback">Required.</div>
                        </div>
                      </div> -->
                    <input type="text" placeholder="Username" name="username" value="{{
                    request.form.username }}">
                    <input type="password" placeholder="Password" name="password" value="{{
                    request.form.password }}">
                    <input class="btn btn-default" type="submit" value="Login">
                    <br>
                    <br>
                    <br>
                    <h3 class="team">Meet the Team! </h4>
                    <h5>Stephen Lyssy - Project Manager, Developer, & Visulizations</h5>
                    <a href= "https://www.linkedin.com/in/stephenlyssy/">Linked In</a>
                    <a href= "https://github.com/Slyssy">Git Hub</a>
                    <h5>Karen Kitchens - Developer, Visualizations</h5>
                    <a href= "">Linked In</a>
                    <a href= "https://github.com/karenkitchens">Git Hub</a>
                    <h5>Michael Donatucci - Developer, Visualizations</h5>
                    <a href= "">Linked In</a>
                    <a href= "https://github.com/michaeldonatucci9">Git Hub</a>
                    <h5>Julie Gandre - Developer</h5>
                    <!-- <p>Developer</p> -->
                    <a href= "https://www.linkedin.com/in/julie-gandre-14620341">Linked In</a>
                    <a href= "https://github.com/jgandre">Git Hub</a>
                    
                    <!-- <div class="image">
                        <img src="static\new_project.png" alt="new user"/>
                    </div> -->
                    

                </form>
                {% if error %}
                    <p class="error"><strong>Error:</strong> {{ error }}</p>
                {% endif %}


            </div>
        </div>
    </div>
    <!-- <div class="card border-primary h-100">
        <div class="card-body d-flex flex-column align-items-center">
            <h3 class="card-title text-primary">Meet the Team!</h3>
            <h5>Stephen Lyssy (Project Manager, Developer, & Visulizations)</h5>
            <h5>Alicia Pelkey (Database Engineer & Modeler)</h5>
            <h5>Amy Banerji (Backend Developer)</h5>
            <h5>Julie Gandre (Developer)</h5>
            <div class="image">
                <img src="../images/new_project.png" alt="new user">
            </div>
            <h5>Karen Kitchens (Developer, Visualizations)</h5>
            <h5>Michael Donatucci (Developer, Visualizations)</h5>
        </div> -->
    <br>
    <br>
</body>
</html>
