<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Navigation Bar -->
    <title>Enter New Project</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Bootstrap Greyson Liabraries and Oswald Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://bootstrap.themes.guide/greyson/theme.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />

    <!-- Datepicker links and dependencies -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
      crossorigin="anonymous"
    />
    <script
      src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js"
      type="text/javascript"
    ></script>
    <link
      href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css"
      rel="stylesheet"
      type="text/css"
    />

    <link rel="stylesheet" type="text/css" href="stylesheet.css" />
  </head>
  <body>
    <!-- Navbar -->
    <div class="container">
      <div class="card bg-primary text-white h-100" style="margin-bottom: 50px">
        <div class="card-body d-flex flex-column align-items-start">
          <h4 class="card-title">Enter New Project</h4>
          <p class="card-text">
            Fill out the required fields to enter a new project. Do not use any special characters. Simply enter values as a float.
          </p>
          <a href="/dashboard" class="btn btn-primary border-white mt-auto"
            >Return to Dashboard</a
          >
        </div>
      </div>

      <!-- Begin Form -->
      <form
        action="/new_project"
        method="POST"
        style="width: 500px; margin: auto"
      >
        <!-- Project Name: This is a required field -->
        <div class="form-group row was-validated">
          <label class="col-lg-3 col-form-label form-control-label text-muted"
            >Project Name:</label
          >
          <div class="col-lg-9">
            <input
              class="form-control"
              type="text"
              required=""
              id="un"
              name="project_name"
              placeholder="Enter Project Name"
            />
            <div class="invalid-feedback">Project Name is required.</div>
          </div>
        </div>
        <!-- Street 1 -->
        <div class="form-group row">
          <label class="col-lg-3 col-form-label form-control-label text-muted"
            >Street 1:</label
          >
          <div class="col-lg-9">
            <input
              class="form-control"
              type="text"
              name="street"
              placeholder="Street 1"
            />
          </div>
        </div>
        <!-- Street 2 -->
        <div class="form-group row">
          <label class="col-lg-3 col-form-label form-control-label text-muted"
            >Street 2:</label
          >
          <div class="col-lg-9">
            <input
              class="form-control"
              type="text"
              name="street2"
              placeholder="Street 2"
            />
          </div>
        </div>
        <!-- City and State: These are required fields -->
        <div class="form-group row was-validated">
          <label class="col-lg-3 col-form-label form-control-label text-muted"
            >City/State:</label
          >
          <div class="col-lg-5">
            <input
              class="form-control"
              type="text"
              name="city"
              required=""
              placeholder="City"
            />
          </div>
          <div class="invalid-feedback">City is required.</div>
          <div class="col-lg-4">
            <select name="state" required="" id="state" class="form-control-lg">
              <!-- <option>State</option> -->
              <option value="">Select a State</option>
              <option value="AL">AL</option>
              <option value="AK">AK</option>
              <option value="AR">AR</option>
              <option value="AZ">AZ</option>
              <option value="CA">CA</option>
              <option value="CO">CO</option>
              <option value="CT">CT</option>
              <option value="DC">DC</option>
              <option value="DE">DE</option>
              <option value="FL">FL</option>
              <option value="GA">GA</option>
              <option value="HI">HI</option>
              <option value="IA">IA</option>
              <option value="ID">ID</option>
              <option value="IL">IL</option>
              <option value="IN">IN</option>
              <option value="KS">KS</option>
              <option value="KY">KY</option>
              <option value="LA">LA</option>
              <option value="MA">MA</option>
              <option value="MD">MD</option>
              <option value="ME">ME</option>
              <option value="MI">MI</option>
              <option value="MN">MN</option>
              <option value="MO">MO</option>
              <option value="MS">MS</option>
              <option value="MT">MT</option>
              <option value="NC">NC</option>
              <option value="NE">NE</option>
              <option value="NH">NH</option>
              <option value="NJ">NJ</option>
              <option value="NM">NM</option>
              <option value="NV">NV</option>
              <option value="NY">NY</option>
              <option value="ND">ND</option>
              <option value="OH">OH</option>
              <option value="OK">OK</option>
              <option value="OR">OR</option>
              <option value="PA">PA</option>
              <option value="RI">RI</option>
              <option value="SC">SC</option>
              <option value="SD">SD</option>
              <option value="TN">TN</option>
              <option value="TX">TX</option>
              <option value="UT">UT</option>
              <option value="VT">VT</option>
              <option value="VA">VA</option>
              <option value="WA">WA</option>
              <option value="WI">WI</option>
              <option value="WV">WV</option>
              <option value="WY">WY</option>
            </select>
            <div class="invalid-feedback">State is required.</div>
          </div>
          <div class="invalid-feedback">State is required.</div>
        </div>
        <!-- Zip Code -->
        <div class="form-group row">
          <label class="col-lg-3 col-form-label form-control-label text-muted"
            >Zip Code:</label
          >
          <div class="col-lg-9">
            <input
              class="form-control"
              type="text"
              name="zipcode"
              placeholder="Enter Zip Code"
            />
          </div>
        </div>
        <!-- Revenue: This is a required field -->
        <div class="form-group row was-validated">
          <label class="col-lg-3 col-form-label form-control-label text-muted"
            >Revenue:</label
          >
          <div class="col-lg-9">
            <input
              class="form-control"
              type="text"
              placeholder="Enter Projected Revenue"
              required=""
              name="revenue"
            />
            <div class="invalid-feedback">Revenue is Required.</div>
          </div>
        </div>
        <!-- Estimated Labor Hours: This is a required field -->
        <div class="form-group row was-validated">
          <label class="col-lg-3 col-form-label form-control-label text-muted"
            >Budget Labor Hours:</label
          >
          <div class="col-lg-9">
            <input
              class="form-control"
              type="text"
              placeholder="Enter Labor Hours"
              required=""
              id="un"
              name="est_labor_hours"
            />
            <div class="invalid-feedback">
              Estimated Labor Hours is Required.
            </div>
          </div>
        </div>
        <!-- Labor Rate per Hour: This is a required field -->
        <div class="form-group row was-validated">
          <label class="col-lg-3 col-form-label form-control-label text-muted"
            >Budget Labor Rate/Hour:</label
          >
          <div class="col-lg-9">
            <input
              class="form-control"
              type="text"
              placeholder="Enter Labor Rate"
              required=""
              id="un"
              name="est_labor_rate"
            />
            <div class="invalid-feedback">
              Estimated Labor Rate per Hour is Required.
            </div>
          </div>
        </div>
        <!-- Labor Expense -->
        <div class="form-group row">
          <label class="col-lg-3 col-form-label form-control-label text-muted"
            >Budget Labor Expense:</label
          >
          <div class="col-lg-9">
            <input
              class="form-control"
              type="text"
              name="est_labor_expense"
              placeholder="Labor Hours x Labor Rate"
            />
          </div>
        </div>
        <!-- Material Expense -->
        <div class="form-group row">
          <label class="col-lg-3 col-form-label form-control-label text-muted"
            >Budget Material Expense:</label
          >
          <div class="col-lg-9">
            <input
              class="form-control"
              type="text"
              name="est_material_expense"
              placeholder="Enter Material Expense"
            />
          </div>
        </div>
        <!-- Subcontractor Expense -->
        <div class="form-group row">
          <label class="col-lg-3 col-form-label form-control-label text-muted"
            >Budget Subcontractor Expense:</label
          >
          <div class="col-lg-9">
            <input
              class="form-control"
              type="text"
              name="est_subcontractor_expense"
              placeholder="Enter Subcontractor Expense"
            />
          </div>
        </div>
        <!-- Miscellaneous Expense -->
        <div class="form-group row">
          <label class="col-lg-3 col-form-label form-control-label text-muted"
            >Budget Miscellaneous Expense:</label
          >
          <div class="col-lg-9">
            <input
              class="form-control"
              type="text"
              name="est_miscellaneous_expense"
              placeholder="Enter Miscellaneous Expense"
            />
          </div>
        </div>  
        <!-- Overhead % Expense -->
        <div class="form-group row">
          <label class="col-lg-3 col-form-label form-control-label text-muted"
            >Budget Overhead Rate(%):</label
          >
          <div class="col-lg-9">
            <input
              class="form-control"
              type="text"
              name="est_overhead_expense"
              placeholder="Enter Overhead Rate"
            />
          </div>
                  </div> 
        <!-- Date Picker -->
        <div class="form-group row">
          <label class="col-lg-3 col-form-label form-control-label text-muted"
            >Start Date:</label
          >
          <div class="col-lg-9">
            <input id="datepicker" type="text" class="form-control" />
            <!-- <style>.input-group-addon{width: 14%;}</style> -->
          </div>
        </div>

        <script>
          $("#datepicker").datepicker({});
        </script>

        <!-- Cancel and Submit Buttons -->
        <div class="form-group row">
          <label class="col-lg-3 col-form-label form-control-label"></label>
          <div class="col-lg-9">
            <input
              type="reset"
              class="btn btn-outline-secondary mr-2"
              value="Cancel"
            />
            <input type="submit" value="Submit" />
          </div>
        </div>
      </form>
    </div>
  </body>
</html>
